<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ZZ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class> servlet.OnlineListener</listener-class>
  </listener>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>servlet.MyFilter</filter-class>
    <init-param>
      <param-name>enable</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ChineseFilter</filter-name>
    <filter-class>filter.ChineseFilter</filter-class>
    <init-param>
      <param-name>enable</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ChineseFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ADD</servlet-name>
    <servlet-class>servlet.ADD</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ADD1</servlet-name>
    <servlet-class>servlet.ADD1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ADD2</servlet-name>
    <servlet-class>servlet.ADD2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectName</servlet-name>
    <servlet-class>servlet.SelectName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login1</servlet-name>
    <servlet-class>servlet.Login1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login2</servlet-name>
    <servlet-class>servlet.Login2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exit</servlet-name>
    <servlet-class>servlet.Exit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>
  servlet.LoginServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>
  servlet.LoginServlet1
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet2</servlet-name>
    <servlet-class>
  servlet.LoginServlet2
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet3</servlet-name>
    <servlet-class>
  servlet.LoginServlet3
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>
  servlet.AddServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>
  servlet.EditServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditServlet1</servlet-name>
    <servlet-class>
  servlet.EditServlet1
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>
  servlet.SelectServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>
  servlet.DeleteServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectServlet1</servlet-name>
    <servlet-class>
  servlet.SelectServlet1
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectServlet2</servlet-name>
    <servlet-class>
  servlet.SelectServlet2
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet1</servlet-name>
    <servlet-class>
  servlet.DeleteServlet1
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Vote</servlet-name>
    <servlet-class>
  servlet.Vote
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Vote1</servlet-name>
    <servlet-class>
  servlet.Vote1
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerListProjectServlet</servlet-name>
    <servlet-class>
  servlet1.ManagerListProjectServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerHistoryProject</servlet-name>
    <servlet-class>
  servlet1.ManagerHistoryProject
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListProjectServlet</servlet-name>
    <servlet-class>
  servlet1.ListProjectServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HistoryProjectServlet</servlet-name>
    <servlet-class>
  servlet1.HistoryProjectServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerListVoterServlet</servlet-name>
    <servlet-class>
  servlet1.ManagerListVoterServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerListUserServlet</servlet-name>
    <servlet-class>
  servlet1.ManagerListUserServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserViewServlet</servlet-name>
    <servlet-class>
  servlet1.UserViewServlet
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>User2Voter</servlet-name>
    <servlet-class>
  servlet1.User2Voter
  </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserListVoterServlet</servlet-name>
    <servlet-class>
  servlet1.UserListVoterServlet
  </servlet-class>
  </servlet>
   <servlet>
    <servlet-name>VoterServlet</servlet-name>
    <servlet-class>
  servlet1.VoterServlet
  </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectName</servlet-name>
    <url-pattern>
 /servlet/SelectName
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>
 /servlet/LoginServlet
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>
 /servlet/LoginServlet1
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet2</servlet-name>
    <url-pattern>
 /servlet/LoginServlet2
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet3</servlet-name>
    <url-pattern>
 /servlet/LoginServlet3
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>
 /servlet/AddServlet
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>
 /servlet/SelectServlet
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectServlet1</servlet-name>
    <url-pattern>
 /servlet/SelectServlet1
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectServlet2</servlet-name>
    <url-pattern>
 /servlet/SelectServlet2
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>
 /servlet/EditServlet
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditServlet1</servlet-name>
    <url-pattern>
 /servlet/EditServlet1
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>
 /servlet/DeleteServlet
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet1</servlet-name>
    <url-pattern>
 /servlet/DeleteServlet1
  </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/servlet/Login1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login2</servlet-name>
    <url-pattern>/servlet/Login2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exit</servlet-name>
    <url-pattern>/servlet/Exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ADD</servlet-name>
    <url-pattern>/servlet/ADD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ADD1</servlet-name>
    <url-pattern>/servlet/ADD1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ADD2</servlet-name>
    <url-pattern>/servlet/ADD2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Vote</servlet-name>
    <url-pattern>/servlet/Vote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Vote1</servlet-name>
    <url-pattern>/servlet/Vote1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerListProjectServlet</servlet-name>
    <url-pattern>/servlet1/ManagerListProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerHistoryProject</servlet-name>
    <url-pattern>/servlet1/ManagerHistoryProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListProjectServlet</servlet-name>
    <url-pattern>/servlet1/ListProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistoryProjectServlet</servlet-name>
    <url-pattern>/servlet1/HistoryProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerListVoterServlet</servlet-name>
    <url-pattern>/servlet1/ManagerListVoterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerListUserServlet</servlet-name>
    <url-pattern>/servlet1/ManagerListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserViewServlet</servlet-name>
    <url-pattern>/servlet1/UserViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>User2Voter</servlet-name>
    <url-pattern>/servlet1/User2Voter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserListVoterServlet</servlet-name>
    <url-pattern>/servlet1/UserListVoterServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>VoterServlet</servlet-name>
    <url-pattern>/servlet1/VoterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>
        org.jfree.chart.servlet.DisplayChart   
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
</web-app>